
.patient-panel {
  background-color: #f7f7f7;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: rgba(221, 221, 221, 0.6);
}

.hide{
  width: 0; height: 0;
  visibility: hidden;
}
@media screen and (min-width: 1350px) {
    .fixed-width{
      width:1350px;
    }
  }
  @media screen and (max-width: 1350px) {
    .fixed-width{
        width:100%;
    }
  }

  @media screen and (max-width: 1600px) {
    .fixed-form{
        width:700px;
    }
  }

.d-flex-unset{
  display: unset !important;
}
.report{
  padding-right:12px;
}


@media screen and (min-width: 1600px) {
  .report{
      width:50%;
  }
}
@media screen and (max-width: 1600px) {
  .report{
      width:100%;
  }
}

.row-custom{
  flex-wrap: unset!important;
}




