.checkbox{
    padding-left: 40%;
}
.background{
    background-color: white;
    border: #f5f5f5f5;
    border-style: solid;
    border-width: 9px;
    width:100%;
    height: 100vh;
}
.submit{
    width:80%;
}
.mid-w{
    width:112%
}
.dx-field-value{
    text-align: center;
}

@media screen and (min-height: 760px) {
    .background{
        height: 100vh;
    }
}

.bottom-buttons{
    display: flex;
    padding-right: 20px;
}
@media screen and (min-width: 800px) {
    .dx-field-btn{
        text-align: center;
    }
    .dx-field-value{
        width:50% !important;
        text-align: center;
        margin-right: 23%;
    }
    .dx-field-label{
        width:20%;
    }
    .submit{
        width:30%;
    }
    .checkbox {
        padding-left: 27%;
    }
    .background{
        padding-left: 25%;
        padding-right: 25%;
    }
}