::ng-deep .large-button .dx-button-content .dx-icon {
  font-size: 40px;
}

::ng-deep .icon-button .dx-button-content .dx-icon {
  font-size: 40px;
  background-size: 35px;
  background-attachment: fixed;
  background-position: center;
  width:100% !important;
  height:100% !important;
  /* background-image: url('Messenger.png');  */
}

::ng-deep .small-button .dx-button-content .dx-icon {
  background-size: 35px;
  background-attachment: fixed;
  background-position: center;
  width:16px !important;
  height:16px !important;
  /* background-image: url('Messenger.png');  */
  /* background-image: url('refresh.png'); */
}
  
.messenger-explanation {
  background-color: #f7f7f7;
  font-size: 12px;
  padding: 1px 13px;
  height: 10px;
}

  .messenger-header {
    font-size: 20px;
    background-color: #8399d4;
    padding: 0px 10px 5px 10px;
 }
  
  .messenger-content {
    background-color: #f7f7f7;
    font-size: 14px;
    padding: 4px 10px;
    height: 103px;
  }
  
  
  .left-content {
    margin-top: 5px;
  }
  
  .right-content {
    margin-top: 5px;
  }

  .bottom-content {
    position:absolute;
    margin-top: 55px;
    margin-left: 65px;
  }
  
  .outer {
    display:flex;
    justify-content: center;
  }
  