.reply-content-field {
    display: grid;
    grid-template-columns: 35% 65%;
    margin: 10px 0 10px 0;
}

.validation-field {
    margin-bottom: 0;
}

.validation-message {
    color: red;
    float: right;
}

.dx-invalid-message.dx-overlay-wrapper {
    visibility: hidden;
}

.rc-hr {
    margin-top: 30px !important;
}
